<!DOCTYPE html>
<html>
  <head>
    <title> Homepage </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>



  <body>

  <header>
  <div>
    <h1>Sun Chemical - Returns Organiser</h1>
  </div>
  </header>

  <div class="logo-div">
    <a href="home"><img class="logo"src="/SunChem-logo.jpg" width="200" height="80"></a>
  </div>

    <%= yield %>
  </body>
</html>





